In [3]:
import pandas as pd
pandas_version =pd.__version__
pandas_version

'2.2.2'

In [4]:
! wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-17 13:19:21--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Résolution de raw.githubusercontent.com (raw.githubusercontent.com)… 2606:50c0:8003::154, 2606:50c0:8001::154, 2606:50c0:8000::154, ...
Connexion à raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8003::154|:443… connecté.
requête HTTP transmise, en attente de la réponse… 200 OK
Taille : 298573 (292K) [text/plain]
Enregistre : ‘laptops.csv’

laptops.csv         100%[===================>] 291,58K   646KB/s    ds 0,5s

2024-09-17 13:19:22 (646 KB/s) - ‘laptops.csv’ enregistré [298573/298573]

In [6]:
data = pd.read_csv('laptops.csv')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [11]:
data.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

In [18]:
data['Brand'].nunique()

27

In [27]:
data.isna().sum(axis= 0)

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [42]:
dell_data = data[data['Brand'] == 'Dell']


dell_price_max =dell_data['Final Price'].max()
dell_price_max

np.float64(3936.0)

In [69]:
dell_data

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
161,Dell Vostro 3510 Intel Core i3-1115G4/8 GB/256...,New,Dell,Vostro,Intel Core i3,8,256,SSD,NaN,15.6,No,599.00
271,Dell Vostro 3510 Intel Core i5-1135G7/8 GB/256...,New,Dell,Vostro,Intel Core i5,8,256,SSD,NaN,15.6,No,690.15
281,Dell Vostro 3520 Intel Core i7-1255U/16GB/512G...,New,Dell,Vostro,Intel Core i7,16,512,SSD,NaN,15.6,No,889.00
319,Dell Latitude 3520 Intel Core i5-1135G7/8GB/25...,New,Dell,Latitude,Intel Core i5,8,256,SSD,NaN,15.6,No,789.00
328,Dell Vostro 3510 Intel Core i5-1135G7/16 GB/51...,New,Dell,Vostro,Intel Core i5,16,512,SSD,NaN,15.6,No,869.00
...,...,...,...,...,...,...,...,...,...,...,...,...
1843,Dell Vostro 5301 Intel Core i5-1135G7/8GB/256G...,Refurbished,Dell,Vostro,Intel Core i5,8,256,SSD,NaN,13.3,No,420.74
1844,Dell Vostro 5301 Intel Core i5-1135G7/8GB/512G...,Refurbished,Dell,Vostro,Intel Core i5,8,512,SSD,NaN,13.3,No,511.59
1845,Dell Vostro 5502 Intel Core i5-1135G7/8GB/512G...,Refurbished,Dell,Vostro,Intel Core i5,8,512,SSD,NaN,15.6,No,549.93
1846,Dell XPS 13 9300 Intel Core i5-1035G1/8GB/512G...,Refurbished,Dell,XPS,Intel Core i5,8,512,SSD,NaN,13.4,No,699.00
1847,Dell XPS 7390 Intel Core i7-10510U/16GB/512GB ...,Refurbished,Dell,XPS,Intel Core i7,16,512,SSD,NaN,13.3,No,1086.88

In [43]:
data['Screen'].median()

np.float64(15.6)

In [48]:
data['Screen'].nunique()

29

In [61]:
screen_count = data['Screen'].value_counts()
screen_count
most_frequent_screen = screen_count.idxmax()

In [67]:
data['Screen'] = data['Screen'].fillna(most_frequent_screen)

In [68]:
data['Screen'].median()

np.float64(15.6)

In [99]:
injoo_data = data[data['Brand'] == 'Innjoo']

In [100]:
injoo_data_selected =injoo_data[['RAM', 'Storage', 'Screen']]

In [101]:
injoo_data_selected

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [103]:

x =injoo_data_selected.to_numpy()
x.shape

(6, 3)

In [104]:
y = x.T@x

In [105]:
import numpy as np
y_inverse = np.linalg.inv(y)

In [106]:
y_inverse

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [107]:
b= [1100, 1300, 800, 900, 1000, 1100]
A= np.array(b)

In [109]:
X= y_inverse@x.T@A

In [113]:
sum(X)

np.float64(91.2998806299555)